dist/
venv/
__pycache__/


*.py[cod]

*.log

*.jar

TEST*.xml

.DS_Store

Thumbs.db

*.app
*.exe
*.war

*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
/db.sqlite3

.ds
Pipfile.lock
/config/settings/dev_srv1.py
/config/settings/production.py

.env
